body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.title-select{
    display: flex;
    margin: 120px 60px 0px 60px;
    height: 70px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title-sp{
    padding: 0;

}
.title-sp{
    color: #999;
    font-weight: 100;
    text-transform: uppercase;
    
}
.title-sp h4{
    font-size: 20px;
    font-weight: 400;
}
.title-sp b{
    font-weight: 600;
    color: black;
    font-size: 20px;
}
.sort{
    
}
.sort >span{
    font-size: 18px;
    font-weight: 400;
    padding-right: 20px;
}
.sort select{
    border: none;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
    height: 38px;
    outline: none;
    width: 280px;
}
.sort select option{
}
.sort select:hover{
    box-shadow: none;
    border: 1px solid #ddd;
}
.containerSP{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 60px;
}
.containerSP .left{
    width: 22%;
    padding-top: 16px;
}
.containerSP .right{
    width: 78%;
    display: flex;
    flex-wrap: wrap;
}
.left hr{
    margin: 0;
    height: 3px;
    width: 50px;
    background-color: #ddd;
    margin: 14px 0px 20px 0;
}
.left h5{
    text-transform: uppercase;
}
.left .select-price{
    padding: 10px 0 0 0;
}
.left .select-price span{
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
.left .select-price:hover{
    color: #7aba1e;
}
.right .text-wrapper{
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 0px 20px;
    height: 430px;
}
.right .text-wrapper .border-item {
    border: 4px solid #ccc;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.right .text-wrapper .fa-cart-plus{
    color: white;
}
.right .text-wrapper .border-item span{
    padding: 0 30px;
}
.right .text-wrapper .border-item .item-img-hover{
    height: 275px;
    overflow: hidden;
    position: relative;
}
.right .text-wrapper .border-item .item-img-hover img{
    width: 100%;
    height: 275px;
    transform: scale(1);
    transition: 0.3s all;
}
.right .text-wrapper .border-item .item-img-hover .hover{
    position: absolute;
    bottom: 100px;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background: transparent;
    transform: translateY(150px);
    transition: 0.3s all;
    font-size: 30px;
}
.title-cts{
    text-transform: uppercase;
}
.fa-cart-plus{
    margin-right: 20px;
    cursor: pointer;
    height: 40px;
    width: 70px;
    background-color: #040f00;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    border-top-right-radius: 20px;
}
.right .text-wrapper .border-item .item-information{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right .text-wrapper .border-item .item-information span:nth-child(2){
    height: 60px;
    text-align: center;
    padding-top: 10px;
}
.right .text-wrapper .border-item .item-information span:nth-child(3){
    font-weight: bold;
}

.right .text-wrapper .border-item:hover .hover{
    opacity: 1;
    transform: translateY(100px);
}
.right .text-wrapper .border-item:hover img{
    transform: scale(1.2);
}
.right .text-wrapper .fa-cart-plus:hover{
    color:#0b1607;
    background-color: #c3f294;
}
.xemthemsp{
    border: 1px solid #999;
    margin-top:20px;
}
.xemthemsp> .item-xemthem > div{
    display: flex;
    padding: 20px 0px 10px 0px;
    border-top: 1px solid #bbb;
    margin: 10px 20px;
}
.xemthemsp > .item-xemthem:nth-child(1) >div{
    border: none;
}
.xemthemsp .img-right{
    width: 70px;
    height: 70px;
    margin-right: 15px;
}
.xemthemsp .item-xemthem p{
    
}
.text-wrapper .shop-item-title:hover,.item-xemthem span:hover{
    color: #7aba1e;
    cursor: pointer;
}
