#header{
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 60px;
    justify-content: space-between;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 16px;
    font-weight: bold;
    position: fixed;
    background: white;
    top: 0;
    z-index: 1;
    box-shadow: 0px 10px 12px -8px rgba(0,0,0,0.15);
    width: 100%;
}
#header #img-header{
    height: 60px;
    transition: 0.3s all;
}
/* header div:nth-child(2){

} */
.fas{
    color: black;
}
#header a{
    padding: 0 20px;
    text-decoration: none;
    color: black;
    font-weight: 900;
}
/* header div{
    margin-left:20px;
} */
#header i{
    padding:0 5px;
    cursor: pointer;
    font-size: 20px;
}
#header div a:hover,#header div i:hover{
    color: #76b101;
}
#header.shrink {
    height: 80px;
    transition: all ease .5s;
    background: white;
    box-shadow: 0px 10px 12px -8px rgba(0,0,0,0.15);
}
#header.shrink a,#header.shrink i{
    color: black;
    font-weight: 700;
}
#header.shrink a:hover,#header.shrink .fa-trash-alt:hover{
    color: #76b101;
}
.fa-shopping-cart{
    position: relative;
    cursor: pointer;
}
.content-section{
    width: 300px;
    font-size: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.45);
    right: 40px;
    z-index: 100;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 65px;
    transition: 0.3s all;
    transform: scale(0);
    color: black;
    background-color: white;
    cursor: auto;
}
.content-section > div:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* .fa-shopping-cart:hover .content-section{
    transform: scale(1);

} */
.content-section .border-arrow{
    width: 15px;
    height: 15px;
    background-color: white;
    position: absolute;
    top:-9px;
    border: 2px solid #ccc;
    right: 25px;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}


.cart-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 10px;
    align-items: center;
    box-sizing: border-box;
}
.cart-row .cart-img img{
    width: 55px;
}
.cart-row .cart-item-right{
    display: flex;
    flex-direction: column;
    width: 70%;
    font-size: 15px;
    padding-left: 10px;
}
.cart-price {
    width: 110px;
    font-size: 13px;
    margin: 0;
    color: #333;
}
.cart-item-title{
    font-size: 13px;
}
.cart-item-image {
    width: 55px;
    height: 55px;
    border-radius: 10px;
}
.cart-quantity{
    display: flex;
    align-items: center;
}
#header .fa-trash-alt {
    color: black;
    font-size: 20px;
    background-color: transparent;
    padding: 0;
}
#header .fa-trash-alt:hover {
    color: #ce0e24;
    background-color: transparent;
}

.cart-quantity-input {
    height: 25px;
    width: 40px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 5px;
}

.cart-row:last-child {
    border-bottom: 2px solid #ccc;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: center;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    margin-top: 15px;
}
.content-section hr{
    width: 180px;
    height: 1px;
    margin: 0;
    margin-top: 5px;
    background-color: #ccc;
}
.btn-purchase {
    display: block;
    font-size: 17px;
    background-color: #e42b41;
    width: 180px;
    font-weight: bold;
    border: none;
    outline: none;
    margin: 15px 0 10px 0;
    height: 30px;
    color: white;
}

.btn-viewcart{
    margin-top: 15px;
    background-color: #76b101;
    font-size: 17px;
    width: 180px;
    font-weight: bold;
    border: none;
    outline: none;
    display: block;
    height: 30px;
    color: white;
}
footer{
    display: flex;
    padding-top: 50px;
    margin-top: 40px;
    height: 400px;
    justify-content: space-around;
    background-color: black;
    flex-wrap: wrap;
    color: white;
}
.fab,.fas{
    /* color: #7aba1e; */
}
footer .footer{
    width: calc(100%/4);
    padding: 0 20px;
    box-sizing: border-box;
}
footer .footer:nth-child(2) div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .footer:nth-child(1){
    display: flex;
    flex-direction: column;
}
footer .footer:nth-child(1) img{
    width: 250px;
}
.footer:nth-child(3) {
    display: flex;
    
    align-items: center;
    flex-direction: column;
}
.footer:nth-child(3) img{
    height: 100px;
    width: 100px;
    padding: 5px;
    box-sizing: border-box;

}
.footer:nth-child(3) div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.footer:nth-child(3) div div{
    width: calc(100%/3);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#map {
        width: 100%;
        height: 300px;
}
#map iframe{
    width: 100%;
    height: 300px;
}
.count-cart{
    box-shadow: 0px 0px 7px 3px rgba(247,0,0,0.55);
    font-family: 'Montserrat', sans-serif;
    height: 18px;
    width: 18px;
    background-color: #dc0f0f;
    border-radius: 50%;
    position: absolute;
    top: -13px;
    left: 22px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-items{
    display: none;
    width: 400px;
}
.box-tintuc{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 0;
}
.box-tintuc .text-tintuc{
    display: flex;
    align-items: center;
    width: calc(100%/3);
    flex-direction: column;
    
}
.text-tintuc div{
    overflow: hidden;
}
.text-tintuc img{
    width: 360px;
    height: 225px;
    transition: 0.3s all;
    
}
.text-tintuc img:hover{
    transform: scale(1.1);
    overflow: hidden;
}
.fa-search{
    
}

.search-item{
    position: absolute;
    right: 110px;
    top: 65px;
    padding: 20px 0;
    background-color: white;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.45);
    transition: 0.3s all;
    height: auto;
    opacity: 0;
    cursor: pointer;
    transform: scale(0);
}
.item-click{
    opacity: 1;
    transform: scale(1);
}
/* .fa-search:hover .search-item{
    transform: scale(1);
    opacity: 1;
} */
.search-item input{
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: rgb(245, 245, 245);
    font-size: 16px;
    width: 300px;
}
.search-item .fa-search{
    position: absolute;
    right: 53px;
    top: 27px;
    color: #777;
}
.search-item .border-arrow{
    width: 15px;
    height: 15px;
    background-color: white;
    position: absolute;
    top:-8px;
    border: 2px solid #ccc;
    right: 25px;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
#header.shrink .search-item .fa-search{
    color: #777;
}
.search-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 80px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    /* margin: 10px 20px; */
    transition: 0.2s all;
    cursor: pointer;
    padding: 0;
}
.search-row .search-img{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
}
.search-items .search-row .search-img .search-item-image{
    width: 100%;
    height: 40px;
    border-radius: 50%
}
.search-item-right{
    width: 87%;
    padding-left: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.search-item-right .search-quantity{
    color: #999;
    width: 30%;
    padding-left: 5px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    text-align: right;

}
.search-item-right .search-quantity .search-price{
    width: 100%;
    /* display: flex;
    justify-content: space-around; */
}
.search-item-right .search-item-title{
    color: black;
    width: 70%;
}
.search-row:hover{
    background-color: #ddd;
}
/* #header.shrink .search-item-right{
    color: black;
} */
.search-items .notify{
    font-family: 'Montserrat', sans-serif;
    display: none;
    margin-top: 20px;
    text-transform: lowercase;
    font-weight: 300;
    font-size: 18px;
    height: 30px;
    color: black;
    justify-content: center;
    align-items: center;
}
#header .fa-search .search-item .search-items .search-row a{
    padding: 0;
}